cache/
test/
tmp
_tmp
node_modules
vendor
*.psd
*.jpg
*.png
*.gif
*.xlsx
*.docx
*.cmproj
*.logs
*.log
*.pdf
.DS_Store
.DS_Store/
._*
.Spotlight-V100
.Trashes
Thumbs.db
global.php
local.php
development.php
